<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  <!--upload file-->
  <add key="uploadFileSize" value="3"/>
  <add key="saveUploadedFilePath" value="D:\Upload\"/>
  <add key="visitUploadedFileUrl" value="http://localhost/file/"/>
  <!--signalr-->
  <add key="livechatSignalRServer" value="http://192.168.2.73:8092/signalr"/>
  <!--subject-->
  <add key="subjectJumpUrlPrefix" value="http://www.xinjk.com.cn/subject/"/>
  <!--微信(begin)-->
  <add key="wx_AppID" value="wx1f84daa72fcc60fe"/>
  <add key="wx_RedirectUri" value="http://classapi.xinjk.com.cn/mvc/auth/weixin"/>
  <add key="wx_AppSecret" value="37fb7c12e44077f9789fc649e7dd807e"/>
  <add key="wx_Scope" value="snsapi_userinfo"/>
  <add key="wx_Noauthen_Url" value="/mvc/auth/noauthen?error={0}"/>
  <add key="wx_Noauthen_Url_Regex" value="^\/mvc\/auth\/noauthen(\?\w+\=((\w|-)+)?)?"/>
  <add key="wx_Authen_Weixin_Regex" value="^\/mvc\/auth\/weixin"/>
  <add key="getWxQrCodeUrl" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid={0}&amp;redirect_uri={1}&amp;response_type=code&amp;scope={2}&amp;state={3}#wechat_redirect"/>
  <add key="getWxOpenIdUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token?appid={0}&amp;secret={1}&amp;code={2}&amp;grant_type=authorization_code"/>
  <add key="getWxUserMsgUrl" value="https://api.weixin.qq.com/sns/userinfo?access_token={0}&amp;openid={1}&amp;lang=zh_CN"/>
  <add key="getWxUserInfoUrl" value="https://api.weixin.qq.com/cgi-bin/user/info?access_token={0}&amp;openid={1}&amp;lang=zh_CN"/>
  <add key="wxTokenDomain" value="xinjk.com.cn"/>
  <add key="wx_RedirectUri_Host" value="http://microclass.xinjk.com.cn"/>
  <!--微信(end)-->
  <!--阿里大鱼(begin)-->
  <add key="alidayuSmswebgateUrl" value="http://gw.api.taobao.com/router/rest"/>
  <add key="alidayuCxAppKey" value="23311569"/>
  <add key="alidayuCxSecretKey" value="1d18f2cf4702a87ba2905933f41ba9b8"/>
  <add key="alidayuSmsTemplate" value="SMS_10655948"/>
  <add key="alidayuFreeSignName" value="海上名医"/>
  <!--阿里大鱼(end)-->
</appSettings>
