<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AdDBProxy" connectionString="data source=192.168.2.73;initial catalog=HSMY_DB;user id=sa;password=!qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MembershipDBProxy" connectionString="data source=192.168.2.73;initial catalog=HSMY_DB;user id=sa;password=!qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="BasicMetaDBProxy" connectionString="data source=192.168.2.73;initial catalog=HSMY_DB;persist security info=True;user id=sa;password=!qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MicroClassDBProxy" connectionString="data source=192.168.2.73;initial catalog=HSMY_DB;user id=sa;password=!qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="PermissionDBProxy" connectionString="data source=192.168.2.73;initial catalog=HSMY_DB;user id=sa;password=!qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="RpcDBProxy" connectionString="data source=192.168.2.73;initial catalog=HSMY_DB;user id=sa;password=!qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
