<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  <!--upload file-->
  <add key="uploadFileSize" value="3"/>
  <add key="saveUploadedFilePath" value="D:\Upload\"/>
  <add key="visitUploadedFileUrl" value=""/>
  <!--signalr-->
  <add key="livechatSignalRServer" value="http://192.168.2.73:8092/signalr"/>
  <!--subject-->
  <add key="subjectJumpUrlPrefix" value=""/>
  <!--七牛云存储(begin)-->
  <add key="qiniu_IsRunning" value="true"/>
  <add key="qiniu_StorageBucketConfigFile" value=""/>
  <add key="qiniu_PutPolicyTimeout" value="3600"/>
  <add key="qiniu_DefaultBucketName" value="test-resources"/>
  <!--七牛云存储(end)-->
</appSettings>
