<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BasicDbProxy" connectionString="data source=116.236.180.242,3078;initial catalog=HERP;user id=jgckuser;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="ContentDbProxy" connectionString="data source=116.236.180.242,3078;initial catalog=HERP;user id=jgckuser;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="OrderDbProxy" connectionString="data source=116.236.180.242,3078;initial catalog=HERP;user id=jgckuser;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="ProductDbProxy" connectionString="data source=116.236.180.242,3078;initial catalog=HERP;user id=jgckuser;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="UserDbProxy" connectionString="data source=116.236.180.242,3078;initial catalog=HERP;user id=jgckuser;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
