

    @*/*.modal.fade {
        height: 450px !important;
    }*/*@
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">基础管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>角色和权限管理</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div id="roleContainer">
    <ul>
        <li>
            <div class="roleBox" @@click="click_showEditPop('r0001','管理员（正）')">
                管理员（正）
            </div>
        </li>
        <li>
            <div class="roleBox"  @@click="click_showEditPop('r0002','管理员（副）')">
                管理员（副）
            </div>
        </li>
        <li>
            <div class="roleBox" @@click="click_showEditPop('r0003','营业')">
                营业
            </div>
        </li>
        <li>
            <div class="roleBox"  @@click="click_showEditPop('r0004','质检')">
                质检
            </div>
        </li>
        <li>
            <div class="roleBox" @@click="click_showEditPop('r0005','组长')">
                组长
            </div>
        </li>
        <li>
            <div class="roleBox" @@click="click_showEditPop('r0006','仓管')">
                仓管
            </div>
        </li>
        <li>
            <div class="roleBox"  @@click="click_showEditPop('r0007','信息维护')">
                信息维护
            </div>
        </li>
        <li>
            <div class="roleBox" @@click="click_showEditPop('r0008','医生')">
                医生
            </div>
        </li>
        <li>
            <div class="roleBox" @@click="click_showEditPop('r0009','操作员')">
                操作员
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="permissionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <ul id="r0001" class="permissionList" v-if="code==='r0001'">
                    <li><input type="checkbox" checked="checked" />订单信息管理
                        <input type="checkbox" value="1" v-model="permissionList">                    
                    </li>
                    <li>
                        <input type="checkbox" checked="checked" />工单信息查询
                        <input type="checkbox" value="2" v-model="permissionList">
                    </li>
                    <li>
                        <input type="checkbox" checked="checked" />员工信息管理
                        <input type="checkbox" value="3" v-model="permissionList">
                    </li>
                    <li><input type="checkbox" checked="checked" />医院信息管理</li>
                    <li><input type="checkbox" checked="checked" />产品信息管理</li>
                    <li><input type="checkbox" checked="checked" />其他基础信息管理</li>
                    <li><input type="checkbox" checked="checked" />取消制作的订单关闭</li>
                    <li><input type="checkbox" checked="checked" />微信客服使用权限</li>
                    <li><input type="checkbox" checked="checked" />快递信息管理</li>
                    <li><input type="checkbox" checked="checked" />各类报表查询、打印</li>
                </ul>
                <ul id="r0002" class="permissionList"  v-if="code==='r0002'">
                    <li><input type="checkbox" checked="checked" />订单信息管理(查看)</li>
                    <li><input type="checkbox" checked="checked" />工单信息查询(查看)</li>
                    <li><input type="checkbox" checked="checked" />员工信息管理(查看)</li>
                    <li><input type="checkbox" checked="checked" />医院信息管理(查看)</li>
                    <li><input type="checkbox" checked="checked" />产品信息管理(查看)</li>
                    <li><input type="checkbox" checked="checked" />其他基础信息管理(查看)</li>
                    <li><input type="checkbox" checked="checked" />取消制作的订单关闭(查看)</li>
                    <li><input type="checkbox" checked="checked" />微信客服使用权限(查看)</li>
                    <li><input type="checkbox" checked="checked" />快递信息管理(查看)</li>
                    <li><input type="checkbox" checked="checked" />各类报表查寻(查看)</li>
                </ul>
                <ul id="r0003" class="permissionList" v-if="code==='r0003'">
                    <li><input type="checkbox" checked="checked" />订单信息管理</li>
                    <li><input type="checkbox" checked="checked" />工单信息查询</li>
                    <li><input type="checkbox" checked="checked" />员工信息管理</li>
                    <li><input type="checkbox" checked="checked" />医院信息管理</li>
                    <li><input type="checkbox" checked="checked" />产品信息管理</li>
                    <li><input type="checkbox" checked="checked" />其他基础信息管理</li>
                    <li><input type="checkbox" checked="checked" />取消制作的订单关闭</li>
                    <li><input type="checkbox" checked="checked" />微信客服使用权限</li>
                    <li><input type="checkbox" checked="checked" />快递信息管理</li>
                    <li><input type="checkbox" checked="checked" />各类报表查询、打印</li>
                </ul>
                <ul id="r0004" class="permissionList" v-if="code==='r0004'">
                    <li><input type="checkbox" checked="checked" />订单信息管理</li>
                    <li><input type="checkbox" checked="checked" />工单管理（分配，确认）</li>
                    <li><input type="checkbox" checked="checked" />终检，放行</li>
                    <li><input type="checkbox" checked="checked" />微信客服使用权限</li>
                </ul>
                <ul id="r0005" class="permissionList" v-if="code==='r0005'">
                    <li><input type="checkbox" checked="checked" />订单信息查询（产品价格除外）</li>
                    <li><input type="checkbox" checked="checked" />工单管理（工单分配、工分确认）</li>
                    <li><input type="checkbox" checked="checked" />材料及批号选择</li>
                    <li><input type="checkbox" checked="checked" />微信客服使用权限</li>
                </ul>
                <ul id="r0006" class="permissionList" v-if="code==='r0006'">
                    <li><input type="checkbox" checked="checked" />产品相关材料信息管理（材料、品牌、批号）</li>
                </ul>
                <ul id="r0007" class="permissionList" v-if="code==='r0007'">
                    <li><input type="checkbox" checked="checked" />基础信息的管理（除订单、工单、材料外）</li>
                </ul>
                <ul id="r0008" class="permissionList" v-if="code==='r0008'">
                    <li><input type="checkbox" checked="checked" />订单信息管理（添加、修改）</li>
                </ul>
                <ul id="r0009" class="permissionList" v-if="code==='r0009'">
                    <li>无操作权限</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@section referenceHeader
{<style>
    .roleBox {
        background-image: url('/assets/img/permission.png');
        width: 219px;
        height: 110px;
        padding-top: 40px;
        padding-left: 100px;
        font-size: medium;
        cursor: pointer;
    }

    #roleContainer ul {
        margin: 0 auto;
        padding: 0;
        width: 1000px;
    }

    #roleContainer ul li {
        list-style: none;
        display: inline-block;
        margin: 30px 50px;
    }
</style>

    <script>
        var pageUrl = "/Permission"
    </script>
}
@section scripts
{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: "",
                code: '',
                model: "",
                permissionList:[1,3]
            },
            methods: {
                click_showEditPop: function (code, title) {
                    this.title = title;
                    this.code = code;
                    $('#permissionModal').modal('show')
                }
            }
        })

    </script>
}

