<style>
    .roleBox {
        background-image: url('/assets/img/permission.png');
        width: 126px;
        height: 60px;
        padding-top: 20px;
        padding-left: 40px;
        font-size: small;
    }
    #roleContainer ul {
        margin: 0 auto;
        padding: 0;
        width: 1200px;
    }
    #roleContainer ul li {
        list-style: none;
        display: inline-block;
        margin: 10px 10px;
    }
</style>
<div style="margin-left: 10px !important; color: black">
    基础管理 > 角色和权限管理
</div>
<p></p>
<p></p>
<div id="roleContainer">
    <ul>
        <li>
            <div class="roleBox">
                管理员（正）
            </div>
        </li>
        <li>
            <div class="roleBox">
                管理员（副）
            </div>
        </li>
        <li>
            <div class="roleBox">
                营业
            </div>
        </li>
        <li>
            <div class="roleBox">
                质检
            </div>
        </li>
        <li>
            <div class="roleBox">
                组长
            </div>
        </li>
        <li>
            <div class="roleBox">
                仓管
            </div>
        </li>
        <li>
            <div class="roleBox">
                信息维护
            </div>
        </li>
        <li>
            <div class="roleBox">
                医生
            </div>
        </li>
        <li>
            <div class="roleBox">
                操作员
            </div>
        </li>
    </ul>
</div>

