<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">基础管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>医生信息管理</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
